Base Setting 
* {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', 'serif';
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    overflow-x: hidden;
}

html {
    height: 100%;
    width: 100%;
}

body {
  margin: 0;
  font-family: cursive;
  overflow: hidden;
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
	animation: append-animate .3s linear;
  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

@keyframes append-animate {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.delete{
  animation: append-animate .3s reverse;
}

@keyframes zoom { 
  0% {
    transform: scale(1);
    width: 250px;
    min-width: 250px;
    opacity: 1;
    transform-origin: 125px 125px;
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    width: 0;
    min-width: 0;
    transform: scale(0);
    opacity: 0;
    padding: 0;
    margin: 0;
  }
}


/* Loading Screen-------------- */
/* Loading Screen End---------- */

/* Menu ----------------------- */
#menu-button {
  position: fixed;
  z-index: 888;
  margin-left: 30px;
  margin-top: 30px;
  transition: 0.3s;
  cursor: pointer;
  color: #eaa8a8; 
}
  #menu-button:hover {
    color: #90cfe9;
  }

#menu-button i {
  font-size: 30px;
}

  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 999; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    white-space: nowrap; 
  }
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #eaa8a8;
    display: block;
    transition: 0.3s;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #90cfe9;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Menu End-------------------- */

/* Music----------------------  */
.sound {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  cursor: pointer;
  z-index: 999; 
}

.fa-bars, .fa-volume-xmark {
  display: none;
}

.play {
  display: visible;
}


/* Music End------------------- */


/* Three.js Canvas------------- */
#bg {
  width: 100%;
  height: 100%;
  z-index: -5;
}
/* Three.js Canvas End--------- */

/* Strucutre Button------------ */
/* https://codepen.io/seme332/pen/reJOwo */
.structure-info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  right: 0;
	bottom: 0;
	margin-right: 100px;
  margin-bottom: 100px;
}


/* Strucutre Button End-------- */

/* PageView-------------------- */
#page-view {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
}


/* PageView End---------------- */

/* AboutMe--------------------- */

/* https://codepen.io/TechMusing/pen/XWXRdEW  add this*/ 

.kittydonout-content {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #f8dde4 25%, #c4eefe 25%, #c4eefe 50%, #f8dde4 50%, #f8dde4 75%, #c4eefe 75%, #c4eefe 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.About-Me {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.About-Me img{
  width: 764.4px;
  height: 1000px;
  mix-blend-mode: multiply;
  filter: contrast(1);
}

.About-Me-Content {
  padding: 5%;
}

.page-control { 
  position: fixed;
  /* z-index: 40; */
}
/* AboutMe End----------------- */