Base Setting 
* {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', 'serif';
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    overflow-x: hidden;
}

html {
    height: 100%;
    width: 100%;
}

body {
  margin: 0;
  font-family: cursive;
  overflow: hidden;
}

button {
  margin-top: 10%;
  margin-left: 10%;
  z-index: 5;
  position: fixed;
}

/* Loading Screen-------------- */
/* Loading Screen End---------- */

/* Menu ----------------------- */
#menu-button {
  position: fixed;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* Menu End-------------------- */


/* Three.js Canvas------------- */
#bg {
  width: 100%;
  height: 100%;
  z-index: -5;
}
/* Three.js Canvas End--------- */

/* Music----------------------  */
.toggle-sound {
  position: fixed;
  top: 10%;
  left: 90%;
  background-color: #EC407A;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  box-shadow: 0 0 0 0 #F06292;
}
.toggle-sound.sound-mute {
	box-shadow: none;
}
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

.sound {
	width: 97%;
	height: 100%;
	position: absolute;
	cursor: pointer;
	display: inline-block;
	left: 0;
	top: 0;
	margin-left: -15%;
}
.sound--icon {
	color: inherit;
	line-height: inherit;
	font-size: 1.6rem;
	display: block;
	margin: auto;
	text-align: left;
	padding-left: 20px;
}
.sound--wave {
	position: absolute;
	border: 2px solid transparent;
	border-right: 2px solid #fff;
	border-radius: 50%;
	transition: all 200ms;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.sound--wave_one {
  width: 45%;
  height: 40%;
}
.sound--wave_two {
  width: 70%;
  height: 62%;
}
.sound--wave_three {
width: 95%;
height:75%;
}
.sound-mute .sound--wave {
border-radius: 0;
width: 35%;
height: 35%;
border-width: 0 2px 0 0;
left: 5px;
}
.sound-mute .sound--wave_one {
  -webkit-transform: rotate(45deg) translate3d(0, -50%, 0);
          transform: rotate(45deg) translate3d(0, -50%, 0);
}
.sound-mute .sound--wave_two {
  -webkit-transform: rotate(-45deg) translate3d(0, 50%, 0);
          transform: rotate(-45deg) translate3d(0, 50%, 0);
}
.sound-mute .sound--wave_three {
    opacity: 0;
    transform: translateX(-46%);
    height: 20%;

}
/* Music End------------------- */

/* Strucutre Button------------ */
/* https://codepen.io/seme332/pen/reJOwo */
.structure-info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  right: 0;
	bottom: 0;
	margin-right: 30%;
  margin-bottom: 15%;
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

/* Strucutre Button End-------- */

/* PageView-------------------- */
#page-view {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
}

.content {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #f8dde4 25%, #c4eefe 25%, #c4eefe 50%, #f8dde4 50%, #f8dde4 75%, #c4eefe 75%, #c4eefe 100%);
  
}
/* PageView End---------------- */

/* AboutMe--------------------- */
.Abtou-Me img{
  clip-path: rect(0px, 0px, 200px, 0px);
}
/* AboutMe End----------------- */